.section.newlead
  .title-newlead
  %p New lead registered
  .description-lead
  %p  Source: #{source} 
  %p  Name: #{name}
  %p  Email: #{email}
  %p  Phone: #{phone}
  %p  Description: #{description}